footer {
	background-color: #111111;
	color: #959595;
	padding: 1em 0 0.5em 0;
	margin-top: 2em;
}
.responsive-map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map iframe,   
.responsive-map object,  
.responsive-map embed {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
}

.phpday {
	max-height: 702px;
	text-align: center;
	padding: 1em 0 0 0;
}

.info p {
	margin: 0 0 10px !important;
}

.info h4 {
    margin: 10px 0 !important;
}

.speaker-info-header {
	text-align: center;
	margin-bottom: 3em !important;
}