body {
	background-image: url(/img/background.png);
    background-color: #464545;
}

footer {
	background-color: #111111;
	color: #959595;
	padding: 1.5em 0 0.5em 0;
}

.responsive-map {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.responsive-map iframe,   
.responsive-map object,  
.responsive-map embed {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    height: 100%;
}

.phpday-branding {
	max-height: 702px;
	min-height: 335px;
	background-image: url(/img/header-background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-color: #111;
	margin-bottom: 0;
}

.phpday-logo {
    text-align: left;
    margin: 2.5em 0 0 2.5em;
}

.phpday-info {
    background-color: #464545;
    color: #fff;
    margin-bottom: 1em;
}

.phpday-info-header {
    font-family:'Londrina Shadow',sans-serif;
    font-size: 2em;
    line-height: 105%;
}

.phpday-info-date {
    font-size: 2em;
    line-height: 105%;
}

.phpday-info-intro {
    padding-top: 1.2em;
    font-size: 1.2em;  
}

.info p {
	margin: 0 0 10px !important;
}

.info h4 {
    margin: 10px 0 !important;
}

.speaker-info-header {
	text-align: center;
	margin-bottom: 3em !important;
}