<p class="text-center">
    <span class="phpday-attendees-count">587</span>
    <span class="phpday-attendees-label">Asistentes</span>
</p>
<br>
<p class="text-center lead">
    ¡Gracias!
    <!--  a href="http://www.eventbrite.es/event/5951355665?ref=ebtn" target="_blank">
    <a href="#">
        <img src="http://www.eventbrite.es/custombutton?eid=5951355665" alt="Eventbrite - PHP Day Puebla 2013" />
    </a -->
</p>