<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="favicon.ico">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Londrina+Shadow">
<link rel="stylesheet" href="/css/skin.css">
<title>PHP Day Puebla 2013 | {{ title }}</title>