<div class="phpday-info">
    <div class="container">
        <div class="row phpday-info">
            <div class="span3">
                <div class="phpday-info-header">
                    <h1 class="phpday-info-date">13 de abril</h1>
                    <h2 class="phpday-info-venue">Hub Emprendedor</h2>
                </div>
            </div>
            <div class="span6 phpday-info-intro-main">
                <p class="lead">Acompáñanos este 13 de abril al PHP Day Puebla 2013.</p>
                <p>
                    El PHP Day es un evento <strong>gratuito</strong> organizado por
                    <a href="http://www.cesolmx.org/">CESoLMX</a>,
                    <a href="http://www.hfpuebla.org/">Hackers &amp; Founders Puebla</a> y
                    <a href="http://www.comunidadphppuebla.com/">Comunidad PHP Puebla</a>
                    con el apoyo del
                    <a href="http://www.hubemprendedor.mx">Hub Emprendedor</a>.
                    Cuyo objetivo es dar a conocer las mejores prácticas, frameworks y
                    aplicaciones del lenguaje de programación más usado en Internet y otras
                    herramientas utilizadas en el día a día de todo desarrollador Web.
                </p>
            </div>
            <div id="attendees" class="span3"></div>
        </div>
   </div>
</div>