<div class="sponsors">
    <div class="container">
        <div class="row sponsors">
        <div class="well span12">
            <div class="span3">
            <h3>Media Partner</h3>
                <a href="http://sg.com.mx/"><img class="img-rounded" alt="Software Guru" src="/img/patrocinadores/logo-sg.png" width="255px" height="224px"></a>
                <br>
            </div>
            <div class="span8.5">
            <h3>Patrocinadores</h3>
                <div class="span3">
                    <p>
                        <a href="http://astrolabio.mx/"><img class="img-rounded" alt="Astrolabio" src="/img/patrocinadores/logo-astrolabio.png" ></a><br>
                    </p>
                    <img class="img-rounded" alt="Astrolabio" src="/img/patrocinadores/astrolabio.png" width="255px" height="224px">
                </div>
                <div class="span3">
                    <a href="http://www.hubemprendedor.mx/"><img class="img-rounded" alt="Hub" src="/img/logos/logo-hub.jpg" width="255px" height="224px"></a>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>