<div class="container sponsors">
    <div class="row well">
        <div class="row">
            <div class="span12">
                <h3>Patrocinadores</h3>
            </div>
            <div class="span3">
                <img class="img-rounded" alt="Astrolabio" src="/img/patrocinadores/logo-astro.png" width="255px" height="224px">
            </div>
            <div class="span3">
                <a href="http://www.hubemprendedor.mx/"><img class="img-rounded" alt="Hub" src="/img/patrocinadores/logo-hub.png" width="255px" height="224px"></a>
            </div>
            <div class="span3">
                <a href="http://www.ximdex.com"><img class="img-rounded" alt="ximdex" src="/img/patrocinadores/logo-ximdex.jpeg" width="255px" height="224px"></a>
            </div>
            <div class="span3">
                <a href="http://www.mandragora-web-systems.com/"><img class="img-rounded" alt="mandragora" src="/img/patrocinadores/logo-mandragora.png" width="255px" height="224px"></a>
            </div>
        </div>
        <div class="row">
            <div class="span3">
                <a href="http://www.biconsulting.mx/"><img class="img-rounded" alt="Bic Consulting" src="/img/patrocinadores/logo-bic.png" width="255px" height="224px"></a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Media Partners</h3>
            </div>
            <div class="span3">
                <a href="http://sg.com.mx/"><img class="img-rounded" alt="Software Guru" src="/img/patrocinadores/logo-sg.png" width="255px" height="224px"></a>
                <br>
             </div>
             <div class="span3">
                <a href="http://sg.com.mx/"><img class="img-rounded" alt="Software Guru" src="/img/patrocinadores/logo-biosfera.png" width="255px" height="224px"></a>
                <br>
             </div>
        </div>
        
    </div>
</div>