<div class="container">
    <div class="row well">
        <div class="row">
            <div class="span12">
                <h3>Patrocinadores</h3>
            </div>
            <div class="span3">
                <p class="text-center">
                    <a href="http://astrolabio.mx/"><img class="img-rounded" alt="Astrolabio" src="/img/patrocinadores/logo-astrolabio.png" ></a><br>
                </p>
                <img class="img-rounded" alt="Astrolabio" src="/img/patrocinadores/astrolabio.png" width="255px" height="224px">
            </div>
            <div class="span3">
                <a href="http://www.hubemprendedor.mx/"><img class="img-rounded" alt="Hub" src="/img/logos/logo-hub.jpg" width="255px" height="224px"></a>
            </div>
            <div class="span3">
                <a href="http://www.ximdex.com"><img class="img-rounded" alt="ximdex" src="/img/patrocinadores/logo-ximdex.jpeg" width="255px" height="224px"></a>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <h3>Media Partners</h3>
            </div>
            <div class="span4">
                <a href="http://sg.com.mx/"><img class="img-rounded" alt="Software Guru" src="/img/patrocinadores/logo-sg.png" width="255px" height="224px"></a>
                <br>
             </div>
        </div>
        
    </div>
</div>