<div class="phpday-info">
    <div class="container">
        <div class="row phpday-info">
            <div class="span3">
                <div class="phpday-info-header">
                    <h1 class="phpday-info-date">13 de abril</h1>
                    <h2 class="phpday-info-venue">Hub Emprendedor</h2>
                </div>
            </div>
            <div class="span6 phpday-info-intro text-center">
                <h2>{{ title }}</h2>
            </div>
            <div class="span3" id="attendees">
                {% include "sections/attendees.html.twig" %}
            </div>
        </div>
    </div>
</div>