{% set active = 'conferencistas' %}

{% extends "layouts/default.html.twig" %}

{% set title = 'Conferencistas' %}

{% block title %}
    {% include "sections/title.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="span4" id="jimmylagp">
            <div class="well">

                <p class="speaker-info-header">
                    <img class="img-circle" alt="Luis Antonio Goméz" src="/img/conferencistas/jimmylagp.png" width="255px" height="224px">
                </p>

                <h4>Luis Antonio Gómez</h4>
                <p>
                    Entusiasta de la web, desarrollador web, emprendedor, geek por pasión y
                    estudiante de Ing. en Sistemas Computacionales. Fundador de:
                    <a href="http://html5facil.com">HTML5 Fácil</a>
                </p>

                <h4>Conferencias</h4>
                <ul>
                    <li><a href="/sesiones.html#html5-buenas-practicas">¿Qué es HTML5 y por que debería preocuparme si aún no lo utilizo?</a></li>
                    <li><a href="/sesiones.html#html5-hacks">HTML5 Hacks</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/jimmylagp"><img alt="twitter" src="/img/logos/twitter-32.png"> </a>
                    <a href="http://www.linkedin.com/in/jimmylagp"><img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
                <br><br>
                <br><br><br>
            </div>
        </div>

        <div class="span4" id="jmolivas">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Jesus Manuel Olivas" src="/img/conferencistas/jmolivas.jpeg" width="255px" height="224px">
                </p>

                <h4>Jesús Manuel Olivas</h4>
                <p>
					Desarrollador Web, Symfony + Drupal.
                    Entusiasta de las tecnologías de información y miembro activo de comunidades
					de software libre. Expositor en eventos de Software Libre.
                    Co-fundador del grupo  de usuarios
                    <a href="http://mxlopensource.org/">mxlOS (Mexicali Open Source)</a>,
                    entusiasta aficionado de herramientas Open Source.
                    Más información en su <a href="http://jmolivas.com">blog</a> personal.
                </p>

                <h4>Conferencias</h4>
                <ul>
                    <li><a href="/sesiones.html#symfony">Symfony2</a></li>
                    <li><a href="/sesiones.html#bdd">Behavior Driven Development con Behat y Mink</a></li>
                    <li><a href="/sesiones.html#drupal">Taller de Drupal</a></td></li>
                    <li><a href="/sesiones.html#cms">Debate entre los principales CMS (Joomla, Wordpress, Drupal)</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/jmolivas"><img alt="twitter" src="/img/logos/twitter-32.png"> </a>
                    <a href="http://www.linkedin.com/in/jmolivas"><img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
            </div>
        </div>

        <div class="span4" id="noe_dgz">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Noe Dominguez" src="/img/conferencistas/noe_dgz.jpg" width="255px" height="224px">
                </p>

                <h4>Noe Domínguez</h4>
                <p>
                    Graduado de la carrera Tecnologías de Información y Comunicaciones
                    modalidad internacional. Desarrollador de Ruby on Rails.
                    Segundo lugar en Startup Weekend San Luis Potosí. Fundador del capítulo
                    en Puebla de <a href="http://www.hfpuebla.org/">Hackers &amp; Founders</a>
                </p>

                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#git-github">Git y Github</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/noe_dgz"><img alt="twitter" src="/img/logos/twitter-32.png"> </a>
                    <a href="http://www.linkedin.com/in/noedominguez"> <img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
                <br><br><br>
                <br><br><br>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="span4" id="montealegreluis">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Luis Montealegre" src="/img/conferencistas/luismontealegre.jpg" width="255px" height="224px">
                </p>

                <h4>Luis Montealegre</h4>
                <p>
                    Desarrollador Web, Profesor de la Maestría en TI en la UVP, egresado
                    de la maestría en Ciencias de la Computación de la BUAP,
                    certificado en .NET, Java y Linux. Co-fundador de la
                    <a href="http://www.comunidadphppuebla.com">Comunidad PHP Puebla</a>.
                </p>

                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#composer">Manejo de dependencias con Composer</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/MontealegreLuis"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                    <a href="http://www.linkedin.com/in/montealegreluis"><img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
                <br><br><br>
                <br><br>
            </div>
        </div>

        <div class="span4" id="dmouse">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="David Flores" src="/img/conferencistas/dmouse.jpg" width="255px" height="224px">
                </p>

                <h4>David Flores</h4>
                <p>
                    Especialidades:PHP, Python, CSS, HTML, JavaScript, Mysql, Linux,
                    XML, JQuery, JSON . Administrador de sistemas, programador y
                    líder de proyectos.Más información en su <a href="http://dmouse.net">blog</a>
                    personal.
                </p>

                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#cms">Debate entre los principales CMS (Joomla, Wordpress, Drupal)</a></li>
                    <li><a href="/sesiones.html#silex">Silex</a></li>
                    <li><a href="/sesiones.html#drupal">Taller de Drupal</a></td></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/dmouse"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                    <a href="http://www.linkedin.com/in/dafvel"><img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
                <br><br>
                <br>
            </div>
        </div>

        <div class="span4" id="pronuer">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Claudio Morales" src="/img/conferencistas/proneur.jpg" width="255px" height="224px">
                </p>

                <h4>Clauido Morales</h4>
                <p>
                    Co-Fundador Novatecas, Me desempeño administrando la red de innovadores,
                    gestionando eventos tecnológicos como cursos, talleres, conferencias,
                    hackathones y muchas más actividades.
                    También me encargo de mantener activa la comunidaf de desarrolladores de
                    PHP en la Viudad de México organizando reuniones y talleres de PHP
                    para evangelizar a nuevas personas en este lenguaje.
                </p>

                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#seguridad-php">Seguridad en PHP</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/pronuer"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                    <a href="http://www.linkedin.com/in/pronuer"><img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
                <br>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="span4" id="moisesvera">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Moises Vera" src="/img/conferencistas/moises-vera.jpg" width="255px" height="224px">
                </p>

                <h4>Moises Vera</h4>
                <p>
                    I'm GeeK, Newbie de tiempo completo, usuario Linux FedoraProject,
                    programador,  usuario Android, Seguridad, amante de las nuevas Tecnologias.
                </p>

                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#cms">Debate entre los principales CMS (Joomla, Wordpress, Drupal)</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/11110101"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                    <a href="https://www.linkedin.com/profile/view?id=237187836"><img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
                <br><br><br>
                <br><br><br>
                <br>
                <br><br><br>
                <br><br><br>
                <br><br><br><br>
                <br><br><br><br>
                <br><br><br>
            </div>
        </div>

        <div class="span4" id="carlos-olivares">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Carlos Olivares" src="/img/conferencistas/carlos-olivares.jpg" width="255px" height="224px">
                </p>

                <h4>Carlos Olivares</h4>
                <p>
                    He brindado charlas sobre Joomla en:
                </p>
                <ul>
                    <li>FLISOL. "Sitios web 2.0 con Software Libre: Joomla", Abril 2011, Ciudad de México</li>
                    <li>Telmex Hub, "¿Que es joomla?" Julio 2011 Ciudad de México</li>
                    <li>Campus Party 2011, "Wordpress VS Joomla" y "Ecommerce con Joomla" , Julio 2011, Ciudad de México</li>
                    <li>Jornadas Computacion IEMS Agosto 2011</li>
                    <li>Taller joomla Universidad Tecnológica de Xicotepec de Juárez, Puebla, México.</li>
                    <li>Joomla Day España, "Joomla para Gobierno" Octubre 2012. Mérida, ESPAÑA.</li>
                </ul>
                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#cms">Debate entre los principales CMS (Joomla, Wordpress, Drupal)</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/liberatumente"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                    <a href="http://www.linkedin.com/in/liberatumente"><img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br>
            </div>
        </div>

        <div class="span4" id="cristopher-garrido">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Cristopher Garrido" src="/img/conferencistas/cristopher-garrido.jpg" width="255px" height="224px">
                </p>

                <h4>Cristopher Garrido Martell</h4>
                <p>
                    Emprendedor de tiempo completo, aprendiz del comercio electrónico
                    con la misión de servir a los demás, comunicador por gusto y geek
                    por convicción.
                </p>
                <p>Algunos de mis proyectos:</p>
                <ul>
                    <li>Huachi Trend Tech Party - Evento de Ponencias en Tecnologías </li>
                    <li>Joomla Fest – Evento dedicado para la enseñanza de la plataforma Joomla</li>
                    <li>Xico Ubica.me – Proyecto turístico ganador del segundo lugar en la Feria del
                    emprendedor a nivel regional convocada por el Tecnológico de Zacatlán.</li>
                    <li>Fest Teach People – Evento de Talleres de Tecnologías</li>
                    <li>Vida Geek – Blog de temas variados como son música, tecnología,
                    gadgets, comics y videojuegos sobre los cuales escribimos de la manera
                    más fácil y entendible para poder llegar a todos.</li>
                    <li>Geek Central FM – Noticiero de Tecnología semanal que se transmite por Huauchinango FM</li>
                    <li>Podcastea.me – Sitio web dedicado a la difusión de los podcast,
                    hablado por especialistas en diversas áreas como son salud, psicología,
                    tecnología, música y demás.</li>
                    <li>Fui Blogger Qwerty y  Xataka México, recientemente escribo para
                    una revista local que lleva por nombre Xochitepetl.</li>
                </ul>
                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#idea">La idea no lo es todo</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/g_martell"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                    <a href="http://www.linkedin.com/in/gmartelmx"><img alt="linkedIn" src="/img/logos/linkedin-32.png"></a>
                </p>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="span4" id="slayden">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="José Castrejón Aguilar" src="/img/conferencistas/slayden.jpg" width="255px" height="224px">
                </p>

                <h4>José Castrejón Aguilar</h4>
                <p>
                    Creador/Destructor de materia/energía, estudiante de Ingeniería y Cs. Exactas.
                </p>

                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#codeigniter">Codeigniter</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/slayden"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                </p>
                <br><br><br>
                <br><br><br>
                <br><br><br>
                <br><br><br>
            </div>
        </div>

        <div class="span4" id="GretelG">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Gretel Gutierrez" src="/img/conferencistas/GretelG.jpg" width="255px" height="224px">
                </p>

                <h4>Gretel Gutierrez</h4>
                <p>
                    Director en BIAlita que brinda consultoría en Web Analytics, SEO,
                    Usuario CMS Joomla, Admin del JUG Joomla Ciudad de México
                </p>

                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#joomla">Joomla! </a>(Taller)</li>
                    <li><a href="/sesiones.html#cms">Debate entre los principales CMS (Joomla, Wordpress, Drupal)</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/_GretelG"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                </p>
                <br><br><br>
                <br><br><br>
                <br><br><br>
            </div>
        </div>

        <div class="span4" id="rene-blas">
            <div class="well">
                <p class="speaker-info-header">
                    <img class="img-circle" alt="Rene Blass" src="/img/conferencistas/rene_blas.jpg" width="255px" height="224px">
                </p>

                <h4>René Blas</h4>
                <p>
                Ing. en Sistemas, desarrollador web comercial en SYACOM, mi pequeña empresa. 
                Soy usuario de Joomla!, miembro activo del Joomla! User Group Ciudad de México 
                y diseñador por necesidad.
                </p>
                <p>
                    Desde hace más de 10 años he trabajado en el área docente impartiendo clases 
                    a nivel secundaria y bachillerato en materias como matemáticas y computación. 
                    En el 2006 fundé mi micro empresa llamada SYACOM - Servicios y Aplicaciones 
                    en Cómputo a través de la cual proveo principalmente servicios web como 
                    hospedaje, dominios, desarrollo, posicionamiento y mantenimiento.
                </p>

                <h4>Sesiones</h4>
                <ul>
                    <li><a href="/sesiones.html#joomla">Joomla! </a>(Taller)</li>
                    <li><a href="/sesiones.html#cms">Debate entre los principales CMS (Joomla, Wordpress, Drupal)</a></li>
                </ul>

                <h4>Redes sociales</h4>
                <p>
                    <a href="https://twitter.com/blasmaster"><img alt="twitter" src="/img/logos/twitter-32.png"></a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}