{% set active = 'sede' %}

{% extends "layouts/default.html.twig" %}

{% set title = 'Sede' %}

{% block title %}
    {% include "sections/title.html.twig" %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span7">
            <div class="well">
                <p class="hub">
                    <a href="http://www.hubemprendedor.mx/"><img class="img-rounded" alt="Hub" src="/img/logos/logo-hub.jpg" width="255px" height="224px"></a>
                </p>
                <p class="lead">
                    Agradecemos mucho el apoyo del Hub Emprendedor
                    por permitirnos realizar el primer PHP Day Puebla en sus
                    instalaciones.
                </p>
                <p>
                     El<a href="http://www.hubemprendedor.mx"> Hub Emprendedor </a>es un lugar que concentra un ecosistema ambicioso, 
                     innovador y único a nivel mundial. Es un lugar donde se reúnen personas 
                     de distintos perfiles a crear y desarrollar proyectos de la mano de otras 
                    empresas y organizaciones.
                </p>
                <p>Otro de los atractivos del Hub es que será albergue para laboratorios y 
                    talleres de:
                </p>
                <ul>
                    <li>Electrónica</li>
                    <li>Diseño</li>
                    <li>Prototipos</li>
                    <li>Cine</li>
                </ul>
            </div>
        </div>
        <div class="span5">
            <div class="well">
                <h4>Ubicación</h4>

                <address>
                Centro IDEA.<br>
                11 Norte esquina 4 Poniente<br>
                Puebla, Pue 72090
                </address>

                <div class="responsive-map">
                    <iframe 
                        width="425" 
                        height="350" 
                        frameborder="0" 
                        scrolling="no" 
                        marginheight="0" 
                        marginwidth="0" 
                        src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=es&amp;geocode=&amp;q=Mercado+Venustiano+Carranza,+San+Sebasti%C3%A1n,+Heroica+Puebla+de+Zaragoza,+M%C3%A9xico&amp;aq=0&amp;oq=mercado+ve&amp;sll=19.221327,-98.188213&amp;sspn=0.66133,1.352692&amp;t=m&amp;ie=UTF8&amp;hq=Mercado+Venustiano+Carranza,&amp;hnear=San+Sebasti%C3%A1n,+Puebla,+M%C3%A9xico&amp;ll=19.049757,-98.206091&amp;spn=0.010344,0.021136&amp;z=14&amp;iwloc=A&amp;cid=9028675059355528099&amp;output=embed">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}